.container {
  width: 220px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.flag_img {
  width: 100%; /* 컨테이너 꽉 채우도록 */
  height: 150px;
  position: relative; /*fill은 부모태그의 relative 발견 시까지 거슬러올라감*/
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px;
}
